[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
ortools = "*"

[requires]
python_version = "3.8"
